<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style type="text/css">
        body {
            width: 500px;
            margin: auto;
        }
    </style>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<h1>Edit Customer</h1>
<p>
    <a th:href="@{/customers}">List Customer</a>
</p>
<form th:action="@{/customer-edit}" method="post" th:object="${customer}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td>Province</td>
            <td>
                <select name="province">
                    <option th:each="province : ${provinces}"
                            th:value="${province.id}"
                            th:text="${province.name}"
                            th:selected="(${province.id}==*{province.id})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Edit Customer"></td>
        </tr>
    </table>
</form>
</body>
</html>