<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Delete province</h1>
<h3>You are sure</h3>
<a th:href="@{/province}">List Province</a>
<form th:action="@{/delete-province}" method="post" th:object="${province}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Name</td>
            <td th:text="${province.name}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>